/** HEADER **/

.hero-foto{
    background-image: url('https://images.unsplash.com/photo-1520072959219-c595dc870360?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1453&q=80');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    margin: 0 !important;
    margin-bottom: 40px;
}

.hero-foto nav img {
    width: 400px;
}