/** HEADER **/

.hero-foto{
    background-image: url('https://images.unsplash.com/photo-1520072959219-c595dc870360?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1453&q=80');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    margin: 0 !important;
    margin-bottom: 40px;
}

.hero-foto nav img {
    width: 400px;
    padding-left: 16px;
}

.carousel {
    height: 100%;
    z-index: 0;
}

.carousel-root {
    height: 100%;
    z-index: 0;
}

.col-carousel {
    height: 500px;
    z-index: 0;
}

.nav-header {
    margin-top: -400px;
    z-index: 50000;
}

/** HAMBURGER MENU **/

.horizFix {
  --bs-gutter-x: 0rem;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
    font-size: 0px;
  }

  #react-burger-menu-btn, #react-burger-cross-btn {
      font-size: 0px !important;
  }

  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: var(--lighter-orange);
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: absolute;
    height: 100%;
    top: 0px;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #f9f9f9;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    color: var(--darker-red);
    text-decoration: none;
    padding: 10px 20px;
    font-size: 36px;
    font-family: var(--heading) !important;
  }

  .bm-item:hover {
      color: black;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(255, 255, 255, 0.5) !important;
    top: 0px;
    right: 0px;
  }



  /** SEARCH BAR **/
  .wrap-menu {
    display: block;
    width: 100px;
  }

  .search-wrapper {
    width: 28vw;
    margin-top: 34px;
    position: relative;
    box-sizing: border-box;
  }

  .wrap-search {
    width: 25vw;
    vertical-align: middle;
  }

  .search-input {
    border-radius: 18px;
    letter-spacing: 0.4px;
    width: 200px;
  }

  :focus{outline: none;}

  .effect-6{padding: 7px 14px 9px; border: 0px solid transparent; border-bottom-color: #ccc; transition: 0.4s;}
  .effect-6:focus{padding: 7px 28px 9px; transition: 0.4s;}
  

  .effect-6 ~ .focus-border{position: absolute; height: 40px; left: 0; transition: 0.4s;}
  .effect-6:focus ~ .focus-border{width: 200px; transition: 0.4s; border-radius: 18px; border: 2px solid var(--lighter-red);}