/**
 VERRUKKULLUK MAIN.CSS
 */


@font-face {
    font-family: 'pretty_lilyregular';
    src: url('../fonts/pretty_lily-webfont.woff2') format('woff2'),
    url('../fonts/pretty_lily-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

 :root {

    /* FONTS */
    --heading: "pretty_lilyregular";

    /* COLORS */
    --dark-brown: #402214;
    --lighter-brown:  #774231;
    --lightest-brown: #aa4b1b;

    --darker-red: #b31714;
    --lighter-red: #dc3439;

    --kahki: #fff0d6;

    --darker-orange: #eb8d1f;
    --lighter-orange: #fca01f;

    --darker-green: #6e8722;
    --lighter-green: #95b82d;

    --white: #FFF;
    --black: #000;

}

/** HEADING **/
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading) !important;
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 42px;
}

h3, h4, h5 {
    font-size: 32px;
}


/** HTML / BODY **/
html, body {
    font-family: "Helvetica Neue", Arial, SansSerif;
    font-size: 16px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right:0 !important;
    padding-left: 0 !important;
}

.flex {
    display: flex;
    justify-content: space-between;
}

/** RECEPT **/

.recept-kaart {
    display: flex;
    box-shadow: 1px 1px 4px #c9c9c9;
}

.recept-foto {
    width: 45%;
    margin: auto;
    height: 60vh;
    background-image: url('https://images.unsplash.com/photo-1520072959219-c595dc870360?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1453&q=80');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.recept-details {
    width: 55%;
    margin: auto;
    padding: 20px 40px;
}

.recept-info {
    display: flex;
}

.recept-details .titelBe {
    vertical-align: middle;
}

.recept-details .titelBe h1 {
    color: var(--darker-green);
}

.recept-details .titelBe .stars {

    height: 30px !important;
    margin-top: 19px;
}

.info-list { 
    list-style: none;
    padding-inline-start: 0 !important;
}

.info-list li { 
    float: left;
    padding: 16px 24px 16px 0px;
    display: flex;
}

.info-list li p { 
    margin-left: 6px;
    margin-top: -4px;
}


/** AGENDA **/
.agenda {
    background-color: var(--lighter-green);
    padding: 30px;
    padding-inline-start: 0;
    text-align: center;
}

.agenda img {
    width: 150px;
    margin-bottom: 20px;
}

.agenda .omschr {
    width: 80%;
}

.agenda ul li {
    list-style: none;
    display: flex;
    text-align: left
}

.agenda ul li .icon-a {
    width: 20%;
}

.agenda ul li h2 {
    width: 100%;
}

.agenda ul li p {
    font-size: small;
    width: 100%;
}